#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 { // Layer 0
            bindings = <
                &studio_unlock
                &kp TAB    &kp Q    &kp W    &kp E    &kp R    &kp T    &kp Y    &kp U    &kp I    &kp O    &kp P    &kp BSPC
                &kp BSPC    &kp A    &kp S    &kp D    &kp F    &kp G    &kp H    &kp J    &kp K    &kp L    &kp LBKT    &kp HOME
                &kp LSHFT    &kp Z    &kp X    &kp C    &kp V    &kp B    &kp N    &kp M    &kp SEMI    &kp AT    &kp HASH    &kp END
                &kp LCTRL    &kp LALT    &kp K    &kp SPACE    &kp LGUI    &kp SPACE    &kp COMMA    &kp DOT    &kp FSLH    &kp Z    &kp M    &kp K
            >;
        };
    };
};
